@import '../../styles/variables.scss';

.mainContainer {
  @include flex-set(flex-start, stretch, column);
  width: calc(100vw - (100vw - 100%));

  .mainWrap {
    @include flex-set(center, center, column);
    margin-top: 117px;
    .imgSlider {
      position: relative;
      max-width: 1920px;
      > img {
        width: 1920px;
        height: 640px;
      }
      .imgDescription {
        @include flex-set(flex-start, flex-start, column);
        position: absolute;
        width: 600px;
        top: 80px;
        left: 360px;
        .imgFlag {
          display: block;
          padding: 5px 18px;
          margin-bottom: 35px;
          background-color: black;
          color: white;
          font-size: 22px;
        }
        .imgDescTitle {
          color: white;
          margin-bottom: 20px;
          font-size: 68px;
        }
        .imgDescText {
          color: white;
          font-size: 24px;
        }
      }
      .moveButton {
        @include size(62px, 80px);
        position: absolute;
        border: none;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.7);
        font-size: 70px;
      }
      .leftButton {
        top: 260px;
        left: 250px;
      }

      .rightButton {
        top: 260px;
        right: 250px;
      }
    }
    .tasteRecommendWrap {
      @include flex-set(center, center, row);
      width: 100%;
      max-width: 1180px;
      margin-top: 165px;
      position: relative;

      .tasteListBlock {
        @include flex-set(center, flex-start, column);
        width: 339px;
        margin-right: 65px;
        > button {
          border: none;
          background-color: white;
          border-bottom: 2px solid black;
          font-size: 40px;

          > i {
            margin-left: 40px;
          }
          margin-bottom: 15px;
        }
        > span {
          margin-bottom: 15px;
          font-size: 40px;
        }

        > p {
          font-size: 15px;
          line-height: 20px;
        }
      }
      .imgSlider {
        @include flex-set(center, center, row);
        .imgBlock {
          @include flex-set(center, center, row);
          > span {
          }
          .recommendImgDescription {
            @include flex-set(center, flex-start, column);
            margin-left: 20px;
            margin-right: 95px;
            .productTitle {
              font-size: 20px;
            }

            .productDescription {
              margin-top: 40px;
              font-size: 20px;
              .productPrice {
                font-size: 28px;
              }
            }
          }
        }
        .shader {
          @include size(424px, 520px);
          position: absolute;
          right: -370px;
        }
      }
    }

    .imgSlider {
    }
    .onTimeBest {
    }
    .onTimeReview {
    }
    .productWrap {
    }
    .pdLeftWrap {
    }
    .pdRightWrap {
    }
  }
}
