@import '../../../styles/variables.scss';

.listContainer {
  width: 268px;
  height: 540px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 36px;

  &:nth-child(1) {
    margin-left: 0;
  }
  &:nth-child(4n + 1) {
    margin-left: 0;
  }

  .listImg {
    @include size(268px, 320px);

    img {
      @include size(100%, 100%);
    }
  }

  .listInfoContainer {
    padding-top: 16px;

    .newBox {
      span {
        display: inline-block;
        @include size(55px, 25px);
        @include fontsize(12px);
        line-height: 25px;
        text-align: center;

        &:nth-child(1) {
          background-color: #ed0b02;
          color: white;
        }

        &:nth-child(2) {
          background-color: #bdd619;
        }
      }
    }

    .listInfo {
      @include flex-set(initial, initial, column);

      .makingTime {
        margin: 10px 0;
        color: #212121;
        font-size: 13px;
      }

      .menuName {
        width: 100%;
        @include fontsize(17px);
        line-height: 24px;
      }
      .discountFlex {
        display: flex;
        .menuPrice {
          color: #606060;
          width: 110px;
          margin-top: 10px;
        }
        .discount {
          width: 100%;
          margin: 8px 0;
          @include fontsize(25px, 800);
          line-height: 27px;
        }
      }

      .starRivew {
        @include size(88px, 16px);
        color: #008a00;
      }

      .rivew {
        width: 100px;
        margin-left: 10px;
        padding-left: 10px;
        color: #212121;
        font-size: 14px;
        border-left: 1px solid #e0e0e0;
        text-align: center;
      }

      .goToLikeContainer {
        height: 40px;
        margin-top: 24px;

        button {
          @include size(40px, 40px);
          border-radius: 50%;
          border: 2px solid #e0e0e0;
          margin-right: 15px;
          background-color: #e0e0e0;

          svg {
            font-size: 20px;
            color: #606060;
          }
        }
      }
    }
  }
}
