@import '../../../styles/variables.scss';

@mixin animation($delay, $duration, $name) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
}

@mixin keyframes($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@include keyframes(move) {
  0% {
    transform: translateX(1920px);
    display: flex;
  }
  100% {
    transform: translateX(0px);
    display: none;
  }
}

@include keyframes(move2) {
  0% {
    transform: translateX(-1920px);
    display: flex;
  }
  100% {
    transform: translateX(0px);
    display: none;
  }
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.imgSliderWrap {
  @include flex-set(center, center, row);
  position: relative;
  width: calc(100vw - (100vw - 100%));
  max-width: 1920px;
  overflow: hidden;

  .imgSlider {
    @include flex-set(center, center, row);
    flex-wrap: nowrap;

    .imgWrap {
      @include size(100%, 100%);
      position: relative;

      > img {
        object-fit: fill;
      }

      .imgDescription {
        @include flex-set(flex-start, flex-start, column);
        position: absolute;
        width: 600px;
        top: 80px;
        left: 360px;

        .imgFlag {
          display: block;
          padding: 5px 18px;
          margin-bottom: 35px;
          background-color: black;
          color: white;
          font-size: 22px;
        }

        .imgDescTitle {
          color: white;
          margin-bottom: 20px;
          font-size: 68px;
        }

        .imgDescText {
          color: white;
          font-size: 24px;
        }
      }
    }
  }
}
