@import '../../styles/variables.scss';

.cart {
  @include flex-set(center, center, column);
  width: calc(100vw - (100vw - 100%));

  .cartWrap {
    @include flex-set(center, flex-start, column);
    width: 100%;
    max-width: 1180px;
    margin-top: 117px;
    padding-top: 70px;
  }

  .cartTitle {
    font-size: 40px;
    margin-bottom: 90px;
  }

  .cartLoginNotice {
    @include flex-set(space-between, center, row);
    width: 100%;
    padding: 26px 32px;
    border: 1px solid #ccc;
    font-size: 18px;

    > button {
      @include size(240px, 44px);
      border: 1px solid #bdd61a;
      background-color: #bdd61a;
      font-size: 18px;
    }
  }

  .listCheckBox {
    margin-top: 60px;
    height: 50px;

    .listCheck {
      margin-right: 15px;
      font-size: 22px;
      font-weight: 700;
      > input {
        margin-right: 15px;
      }
    }

    > button {
      @include size(108px, 32px);
      border: 1px solid #bdd61a;
      background-color: #bdd61a;
    }
  }

  .deliveryBox {
    @include flex-set(center, flex-start, column);
    width: 100%;
    padding: 20px 30px;
    border: 1px solid gray;

    .deliveryDate {
      .listCheck {
        > input {
          margin-right: 15px;
        }
      }
      > span {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .listWrap {
      width: 100%;

      .cartList {
        @include flex-set(center, flex-start, column);
        width: 100%;

        .listItem {
          @include flex-set(space-between, center, row);
          width: 100%;

          .productInfo {
            .listCheck {
              > input {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}
