@mixin flex-set(
  $flex-direction: row,
  $justify-content: initial,
  $align-items: initial
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}
@mixin translateCenter() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
