@import '../../../styles/variables.scss';

.cookTime {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  > a {
  }

  &:after,
  &:before {
    content: '|';
    color: black;
    font-size: 23px;
    margin: -7px 3px 0 5px;
  }
}

.priceInfo {
  border-top: solid 1px #dbdbdb;
}

.priceInfo,
.discountInfo,
.deliveryInfo {
  border-bottom: solid 1px #dbdbdb;
  padding: 14px 0;
  dl {
    @include size(100%, initial);
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  dt {
    @include size(50%, initial);
    float: left;
    padding: 0;
    margin: 0;
  }
  dd {
    @include size(50%, initial);
    float: left;
    padding: 0;
    margin: 0;
  }
}
.deliveryInfo {
  border-bottom: solid 1px black;
}
