@import '../../../styles/variables.scss';

.titleWrap {
  padding-bottom: 30px;

  .flagWrap {
    .flagDeal {
      padding: 2px 10px;
      border: 1px solid #ee0700;
      background-color: #ee0700;
      color: #fff;
    }
    .flagNew {
      padding: 2px 10px;
      border: 1px solid #bed619;
      background-color: #bed619;
      color: #fff;
    }
  }
  .subTitle {
    padding-top: 10px;
  }

  .subTitle,
  .title {
    font-size: 30px;
    font-weight: 700px;
    line-height: 40px;
  }

  .originInfo {
    font-size: 30px;
    font-weight: 400px;
    line-height: 40px;
  }
}
