@import '../../styles/variables.scss';

.navWrap {
  @include flex-set(center, stretch, column);
  position: fixed;
  width: calc(100vw - (100vw - 100%));
  top: 0;

  .topNavWrap {
    @include flex-set(center, center, row);
    background-color: #202020;

    .topList {
      @include flex-set(flex-end, center, row);
      @include size(100%, 35px);
      max-width: 1920px;
      min-width: 1260px;
      padding-top: 7px;
      background-color: #202020;
      font-size: 15px;

      > ul {
        @include flex-set(flex-end, center, row);

        > li {
          font-size: 13px;

          > a {
            text-decoration: none;
            color: white;

            &:after {
              content: '|';
              margin: 0 5px;
            }
          }
        }
      }
    }
  }

  .bottomNavWrap {
    @include flex-set(center, center, row);
    border-bottom: 1px solid #ccc;

    .bottomNav {
      @include flex-set(space-between, center, row);
      @include size(100%, 81px);
      max-width: 1920px;
      min-width: 1260px;

      .logo {
        font-size: 40px;
        font-family: ‘Gothic A1’, sans-serif;
        font-weight: 800;
      }

      .bottomList {
        @include flex-set(center, center, row);

        > ul {
          @include flex-set(center, center, row);
          font-size: 22px;

          > li {
            padding: 0 32px;

            > a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}
