@import '../../../styles/variables.scss';

.findId {
  @include flex-set(flex-end, center, row);
  width: 100%;
  margin-top: 25px;

  span:last-child {
    &:before {
      margin: 0 5px;
      content: '|';
    }
  }
}
