@import '../../../../styles/variables.scss';

.tasteRecommendWrap {
  @include flex-set(flex-start, center, row);
  width: 100%;
  max-width: 1180px;
  margin-top: 80px;
  position: relative;

  .tasteListBlock {
    @include flex-set(center, flex-start, column);
    flex-shrink: 0;
    width: 339px;
    margin-right: 65px;

    > button {
      border: none;
      background-color: white;
      border-bottom: 2px solid black;
      font-size: 40px;

      > i {
        margin-left: 40px;
      }
      margin-bottom: 15px;
    }

    > span {
      margin-bottom: 15px;
      font-size: 40px;
    }

    > p {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .tasteListImgBlock {
    @include flex-set(center, center, row);
    width: 1040px;

    .imgSliderWrap {
      .imgSlider {
        .imgWrap {
          @include flex-set(center, center, row);
          @include size(520px, 520px);
          flex-shrink: 0;

          img {
            @include size(450px, 450px);
            border-radius: 50%;
          }
        }
      }
      .tasteBlockMoveButtonWrap {
        @include flex-set(center, center, row);
        position: absolute;
        bottom: 50px;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        transform: translate(-50%, 0);
        z-index: 3;
        .tasteBlockMoveButton {
          border: none;
          margin: 0 20px;
          background-color: transparent;
          font-size: 30px;
          color: white;
        }
      }
    }

    .recommendImgDescription {
      position: absolute;
      right: 80px;
      z-index: 3;
      .productTitle {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 18px;
      }
      .productDescription {
        font-size: 14px;

        .productPrice {
          font-size: 20px;
          margin-right: 10px;
        }
        .productServing,
        .fa-cart-plus {
          color: grey;
          margin-right: 10px;
        }

        .productServing {
          &::after {
            content: '/';
          }
        }
      }
    }
    .shader {
      @include size(520px, 520px);
      position: absolute;
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0 -15px 5px 15px rgba(255, 255, 255, 0.85);
      right: -298px;
      bottom: 0px;
      z-index: 2;
    }
  }
}
