@import '../../styles/variables.scss';

.wholeWrap {
  max-width: 1180px;
  padding-top: 180px;
  margin: 0 auto;
  z-index: -1;

  .detailWrap {
    .topInfo {
      display: flex;
      position: relative;

      .imgDetailWrap {
        @include flex-set(initial, initial, column);
        position: relative;
      }

      .dishInfoWrap {
        @include size(580px, initial);
        padding: 27px 0 0 91px;
      }
    }
    .tabWrap {
      padding: 30px 0 10px 30px;
      border-bottom: solid 1px #dbdbdb;
      font-size: 30px;
      font-weight: 700;

      &:after,
      &:before {
        margin: -7px 3px 0 5px;
        content: '|';
        color: black;
        font-size: 30px;
      }
    }
  }

  .infoWrap {
    .infoDetail {
      display: flex;
    }
  }
}
