.priceInfo {
  border-top: solid 1px #dbdbdb;
}

.priceInfo,
.discountInfo,
.deliveryInfo {
  border-bottom: solid 1px #dbdbdb;
  padding: 14px 0;
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
  dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
}
.deliveryInfo {
  border-bottom: solid 1px black;
}
