$lgray: #ebebeb;
$gray: #e0e0e0;
$dgray: #606060;
$ddgray: #212121;

@import '../../../styles/common.scss';
@import '../../../styles/reset.scss';
@import '../../../styles/variables.scss';

.hidden {
  visibility: hidden;
  margin-top: -20px;
}

.listContainer {
  width: 268px;
  height: 560px;
  min-height: 540px;
  margin-top: 40px;

  .listImg {
    width: 268px;
    height: 320px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .listInfoContainer {
    padding-top: 16px;

    .newBox {
      span {
        display: inline-block;
        width: 55px;
        height: 25px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        line-height: 25px;

        &:nth-child(1) {
          background-color: #ed0b02;
          color: white;
        }
        &:nth-child(2) {
          background-color: #bdd619;
        }
      }
    }

    .listInfo {
      .makingTime {
        display: inline-block;
        margin: 10px 0;
        color: $dgray;
        font-size: 13px;
      }
      .menuName {
        display: inline-block;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        line-height: 24px;
      }
      .menuPrice {
        display: inline-block;
        width: 100%;
        margin: 8px 0;
        font-size: 20px;
        font-weight: 800;
        line-height: 27px;
      }
      .starRivew {
        display: inline-block;
        width: 88px;
        height: 16px;
      }
      .rivew {
        width: 70px;
        display: inline-block;
        color: $dgray;
        font-size: 14px;
        border-left: 1px solid $gray;
        text-align: center;
      }

      .goToLikeContainer {
        height: 40px;
        margin-top: 24px;

        button {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid $gray;
          margin-right: 15px;
          background-color: $gray;

          svg {
            font-size: 20px;
            color: $dgray;
          }
        }
      }
    }
  }
}
