@import '../../../styles/variables.scss';

// 기능구현시 사용 class .hidden {
//   visibility: hidden;
//   margin-top: -20px;
// }

.listContainer {
  @include size(268px, 560px);
  min-height: 540px;
  margin-top: 40px;

  .listImg {
    @include size(268px, 320px);

    img {
      @include size(100%, 100%);
    }
  }

  .listInfoContainer {
    padding-top: 16px;

    .newBox {
      span {
        display: inline-block;
        @include size(55px, 25px);
        @include fontsize(12px, 600);
        line-height: 25px;
        text-align: center;

        &:nth-child(1) {
          background-color: #ed0b02;
          color: white;
        }
        &:nth-child(2) {
          background-color: #bdd619;
        }
      }
    }

    .listInfo {
      .makingTime {
        display: inline-block;
        margin: 10px 0;
        color: #212121;
        font-size: 13px;
      }
      .menuName {
        display: inline-block;
        width: 100%;
        @include fontsize(17px, 600);
        line-height: 24px;
      }
      .menuPrice {
        display: inline-block;
        width: 100%;
        margin: 8px 0;
        @include fontsize(20px, 800);
        line-height: 27px;
      }
      .starRivew {
        display: inline-block;
        @include size(88px, 16px);
      }
      .rivew {
        width: 70px;
        display: inline-block;
        color: #212121;
        font-size: 14px;
        border-left: 1px solid #e0e0e0;
        text-align: center;
      }

      .goToLikeContainer {
        height: 40px;
        margin-top: 24px;

        button {
          @include size(40px, 40px);
          border-radius: 50%;
          border: 2px solid #e0e0e0;
          margin-right: 15px;
          background-color: #e0e0e0;

          svg {
            font-size: 20px;
            color: #606060;
          }
        }
      }
    }
  }
}
