@import '../../../../styles/variables.scss';

.searchBox {
  @include flex-set(center, center, row);
  max-width: 1180px;
  margin-top: 50px;

  .searchForm {
    @include flex-set(center, center, row);
    @include size(1180px, 200px);
    background-color: #f7f7f7;

    .searchLabel {
      @include flex-set(center, center, column);

      .searchTitle {
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 0.3rem;
      }
      .searchInputBox {
        @include flex-set(center, center, row);

        .searchInput {
          @include size(800px, 50px);
          padding: 30px;
          border-right: none;
          font-size: 30px;
          outline: none;
        }

        .searchButton {
          @include size(80px, 64px);
          background-color: #bdd61a;
          color: white;
          font-size: 30px;
          outline: none;
        }
      }
    }
  }
}
