@import '../../styles/variables.scss';

section {
  @include flex-set(center, center, column);
  @include size(100%, 100vh);

  .signUpWrap {
    @include flex-set(center, center, column);
    width: 100%;
    max-width: 1180px;
  }

  .toLogin {
    margin-top: 20px;
    > span {
      margin-right: 15px;
    }
    > a {
      text-decoration: none;
      color: #bdd61a;
    }
  }
}
