@import '../../styles/variables.scss';

.wrap {
  width: 1180px;
  margin: auto;
  padding-top: 160px;

  .menuWrap {
    h1 {
      padding: 15px 0;
      width: 100%;
      @include fontsize(40px, 800);
      word-spacing: 5px;
    }

    .categoriesBox {
      @include flex-set(space-between, center);
      height: 70px;
      padding-bottom: 14px;
      border-bottom: 1px solid #ebebeb;
      a {
        @include fontsize(24px, 600);
        text-decoration: none;
        color: #606060;
      }

      .category {
        display: flex;
        line-height: 70px;

        a {
          width: 60px;
          text-align: center;
        }

        ul {
          display: flex;
          li {
            a {
              margin: 0 12px;
              font-size: 16px;
              text-decoration: none;
            }
          }
        }
      }

      .categoriesBtn {
        button {
          width: 20px;
          margin: 0 10px;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}

.filterWrap {
  padding-top: 48px;
  h2 {
    @include fontsize(28px, 800);
    line-height: 42px;
  }
  .filterMenuBox {
    @include flex-set(space-between, center, row);
    padding-top: 8px;

    p {
      @include fontsize(18px, 600);
      line-height: 25px;
    }

    span {
      margin: 0 10px;
    }
  }
  .filterMenu {
    font-size: 16px;
    @include flex-set(space-between, center, row);

    li {
      margin: 0 10px;
      a {
        text-decoration: none;
        color: #212121;
      }
    }
  }
}
